/*
html{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(152,152,152,1) 63%, rgba(255,255,255,1) 100%);
}
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 50px;
    background-color: white;
    padding: 10px 10px;
    border: none;
    object-fit: contain;
    border-radius: 20px;
}

.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    z-index: 1;
    margin-left: 100px;
}

.sidebar{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
}

.icon{
    display: block;
    margin: 10px;
}

.frame{
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    right: 0;
    left: 0;
    padding: 10px 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

